<footer>
  <br/>
  <br />
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  
  <br/>
  
  <!--网站总访问量-->
  <!--本站访客数<span id="busuanzi_value_site_pv"></span>-->
  <div>总访问量<span id="busuanzi_value_site_uv"></span>次</div>
  
  <a href="https://twitter.com/ChrisBr09566661">
    <img src="/assets/twitter.png" width="30">
  </a>
  <a href="https://github.com/luxianche-studypath">
    <img src="assets/github.png" width="30">
  </a>
  <a href="mailto:luxianche9@gmail.com">
    <img src="/assets/mail_01.png" width="30">
  </a>
  <a href="https://luxianche.tech/atom.xml">
    <img src="assets/rss-fill-round.png" width="30">
  </a>
</footer>