<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <br/>
  <a href="https://twitter.com/ChrisBr09566661">
    <img src="/assets/twitter_icon.png" width="30">
  </a>
  <a href="https://github.com/luxianche-studypath">
    <img src="/assets/pngaaa.com-1100864.png" width="20">
  </a>
  <a href="mailto:luxianche9@gmail.com">
    <img src="/assets/gmail_icon.png" width="30">
  </a>
</footer>