---
layout: default
---

<article>
  
  <h2>{{ page.title }}</h2>
  <!--categoty-->
  <div class="post-categories">
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories.html">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  <!--toc function-->
  {% include toc.html html=content %}
  
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<!--comment function-->
<script>
  var idcomments_acct = '2d2b3b2cdc8b32acd848f4239029c673';
  var idcomments_post_id;
  var idcomments_post_url;
</script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>

<script>
  var idcomments_acct = '2d2b3b2cdc8b32acd848f4239029c673';
  var idcomments_post_id;
  var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>