---
layout: default
---

<article>
  
  <h1>{{ page.title }}</h1>
  
  <!--categoty-->
  <div class="post-categories">
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    分类:<a href="https://luxianche.tech/categories.html#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>
  
  <!--date-->
  日期:<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  
  <br/>
  <!--统计-->
  <span id="busuanzi_container_page_pv">
  阅读:<span id="busuanzi_value_page_pv"></span>次
  </span>
  
  <!--toc function-->
  {% include toc.html html=content %}
  <!--content of post-->
  {{ content }}
</article>

<!--comment function-->
<!--the amount of comments-->
<script>
  var idcomments_acct = '2d2b3b2cdc8b32acd848f4239029c673';
  var idcomments_post_id;
  var idcomments_post_url;
</script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
<!--comments-->
<script>
  var idcomments_acct = '2d2b3b2cdc8b32acd848f4239029c673';
  var idcomments_post_id;
  var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>